<div class="fnc__tr--note-engagement-metrics">
  <div class="love-react-metric-wrapper">
    <svg
      class="love-react-icon-static"
      width="30"
      height="27"
      viewBox="0 0 30 27"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M27.5227 2.53147C26.7991 1.80756 25.94 1.2333 24.9944 0.841502C24.0489 0.449705 23.0354 0.248047 22.0119 0.248047C20.9883 0.248047 19.9748 0.449705 19.0293 0.841502C18.0837 1.2333 17.2246 1.80756 16.501 2.53147L14.9994 4.03313L13.4977 2.53147C12.0361 1.0699 10.0538 0.248804 7.98685 0.248804C5.91989 0.248804 3.93759 1.0699 2.47602 2.53147C1.01446 3.99303 0.193359 5.97534 0.193359 8.0423C0.193359 10.1093 1.01446 12.0916 2.47602 13.5531L14.9994 26.0765L27.5227 13.5531C28.2466 12.8296 28.8209 11.9705 29.2126 11.0249C29.6044 10.0793 29.8061 9.06582 29.8061 8.0423C29.8061 7.01878 29.6044 6.00528 29.2126 5.05971C28.8209 4.11415 28.2466 3.25504 27.5227 2.53147Z"
        fill="url(#paint0_linear_4170_1047)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_4170_1047"
          x1="-53.407"
          y1="-16.9324"
          x2="14.9989"
          y2="40.0465"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#04DBF7" />
          <stop offset="1" stop-color="#FF0000" />
        </linearGradient>
      </defs>
    </svg>
    <span class="love-react-metric-count metric-count-font uv-count">
      <%= note.upvoteCount %>
    </span>
  </div>

  <!-- <div class="review-metric-wrapper">
    <span
      class="review-count metric-count-font cmnt-count"
      onclick="window.location.href='/view/<%= note._id %>/#feedbacks'"
    >
      <% if (note.feedbackCount === 0) { %>
        No reviews yet
      <% } else { %>
        <%= note.feedbackCount %> Review<%= note.feedbackCount === 1 ? "" : "s" %>
      <% } %>
    </span>
  </div> -->
</div>

<div class="note-engagement">
  <div
    class="uv-container"
    id="upvote-container"
    data-isupvoted="<%- note.isUpvoted %>"
    data-noteid="<%= note._id %>"
    onclick="upvote(this)"
  >
    <svg
      class="uv-icon"
      width="18"
      height="19"
      viewBox="0 0 22 23"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <% if(note.isUpvoted) { %>
        <path
          d="M27.5227 2.53147C26.7991 1.80756 25.94 1.2333 24.9944 0.841502C24.0489 0.449705 23.0354 0.248047 22.0119 0.248047C20.9883 0.248047 19.9748 0.449705 19.0293 0.841502C18.0837 1.2333 17.2246 1.80756 16.501 2.53147L14.9994 4.03313L13.4977 2.53147C12.0361 1.0699 10.0538 0.248804 7.98685 0.248804C5.91989 0.248804 3.93759 1.0699 2.47602 2.53147C1.01446 3.99303 0.193359 5.97534 0.193359 8.0423C0.193359 10.1093 1.01446 12.0916 2.47602 13.5531L14.9994 26.0765L27.5227 13.5531C28.2466 12.8296 28.8209 11.9705 29.2126 11.0249C29.6044 10.0793 29.8061 9.06582 29.8061 8.0423C29.8061 7.01878 29.6044 6.00528 29.2126 5.05971C28.8209 4.11415 28.2466 3.25504 27.5227 2.53147Z"
          fill="url(#paint0_linear_4170_1047)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_4170_1047"
            x1="-53.407"
            y1="-16.9324"
            x2="14.9989"
            y2="40.0465"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#04DBF7" />
            <stop offset="1" stop-color="#FF0000" />
          </linearGradient>
        </defs>
      <% } else { %>
        <path
          d="M26.0497 5.76283C25.4112 5.12408 24.6532 4.61739 23.8189 4.27168C22.9845 3.92598 22.0903 3.74805 21.1872 3.74805C20.2841 3.74805 19.3898 3.92598 18.5555 4.27168C17.7211 4.61739 16.9631 5.12408 16.3247 5.76283L14.9997 7.08783L13.6747 5.76283C12.385 4.47321 10.636 3.74872 8.81216 3.74872C6.98837 3.74872 5.23928 4.47321 3.94966 5.76283C2.66005 7.05244 1.93555 8.80154 1.93555 10.6253C1.93555 12.4491 2.66005 14.1982 3.94966 15.4878L14.9997 26.5378L26.0497 15.4878C26.6884 14.8494 27.1951 14.0913 27.5408 13.257C27.8865 12.4227 28.0644 11.5284 28.0644 10.6253C28.0644 9.72222 27.8865 8.82796 27.5408 7.99363C27.1951 7.15931 26.6884 6.40127 26.0497 5.76283Z"
          stroke="#1E1E1E"
          stroke-width="0.909091"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      <% } %>
    </svg>
    <span class="fnc__tr--icon-label like-padding-top-5">Like</span>
  
  </div>
  <% if (postType !== "quick-post") { %>
    <svg
      class="download-icon"
      width="40"
      height="40"
      viewBox="0 0 43 43"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      onclick="download('<%= note._id %>', '<%= note.title %>')"
    >
      <path
        d="M37.1541 26.5395V33.6165C37.1541 34.555 36.7813 35.455 36.1177 36.1186C35.4541 36.7822 34.5541 37.155 33.6156 37.155H8.84623C7.90776 37.155 7.00773 36.7822 6.34414 36.1186C5.68054 35.455 5.30774 34.555 5.30774 33.6165V26.5395M12.3847 17.6933L21.2309 26.5395M21.2309 26.5395L30.0771 17.6933M21.2309 26.5395V5.30859"
        stroke="#1E1E1E"
        stroke-width="2.29523"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  <% } %>
    <svg 
      class="share-icon"
      data-noteid="<%= note._id %>"
      data-notetitle="<%= note.title %>"
      onclick="setupShareModal(this, '<%= postType === `quick-post` %>')" 
      width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M28.0003 15.2775L15.2003 6.79883L15.2003 11.5988C4 13.9988 4 25.1988 4 25.1988C4 25.1988 8.8 18.7988 15.2003 19.5988L15.2003 24.5588L28.0003 15.2775Z" stroke="black" stroke-linejoin="round"/>
    </svg>
    
</div>