<% let isInteraction = notiData.fromUserSudentDocID ? true : false %>

<div class="notification" id="noti-<%= notiData._id %>">
    <% if (isInteraction) { %>
        <div class="noti__first-col--img-wrapper">
            <img src="<%= notiData.fromUserSudentDocID.profile_pic %>" alt="notification" class="noti__source-user-img">
        </div>
    <% } %>

    <div class="noti__sec-col--msg-wrapper" onclick="window.location.href='<%= notiData.redirectTo %>'">
        <div class="noti__sc--first-row-msg">
            <p class="noti-msg secondary-<%= notiData.isRead %>">
                <% if (isInteraction) { %>
                    <span class="noti-source-user-name"><%= notiData.fromUserSudentDocID.displayname %></span>
                <% } %>
                <%= notiData.content %>
            </p>
        </div>
        <div class="noti__sc--second-row-noti-info">
            <span class="isRead <%= notiData.isRead %>"></span>
            <span class="noti-time secondary-<%= notiData.isRead %>"><%= formatDate(notiData.createdAt) %></span>
        </div>
    </div>
</div>