<div class="notification secondary-<%= notiData.isRead %>" id="noti-<%= notiData._id %>" onclick="window.location.href = '<%= notiData.redirectTo %>'">
    <div class="first-row">
        <div class="frnt-wrapper">
            <span class="isRead <%= notiData.isRead %>"></span>
            <span class="notification-title"><%= notiData.title %></span>
        </div>   
        <span class="remove-notification" onclick="deleteNoti('<%= notiData._id %>')">&times;</span>
    </div>
    <div class="notification-msg">
        <a class="notification-link-2"><%= notiData.content %></a>
    </div>
</div>