<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/dashboard.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
  <script src="https://kit.fontawesome.com/be4b1d4185.js" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <title>Dashboard</title>
</head>

<body>
  <div class="left-panel">
    <div class="left-panel-header">
      <!-- Add Ejs here Moshiur -->
      <span class="users-db-msg">
        <%= student.displayname.split(' ')[0] %>' s NoteRoom</span>
          <img src="/images/draft-logo-of-noteroom.gif" alt="NoteRoom Logo" />
    </div>
    <button class="btn-home">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M10.1661 24.8494V13.5536H16.9436V24.8494M3.38867 10.1649L13.5549 2.25781L23.7211 10.1649V22.5902C23.7211 23.1894 23.4831 23.764 23.0594 24.1877C22.6357 24.6114 22.0611 24.8494 21.4619 24.8494H5.64783C5.04866 24.8494 4.47404 24.6114 4.05036 24.1877C3.62669 23.764 3.38867 23.1894 3.38867 22.5902V10.1649Z"
          stroke="#04DBF7" stroke-width="2.25916" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      Home
    </button>
    <button class="btn-upload-note">
      <svg width="35" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1010_510)">
          <path
            d="M23.6606 22.7891L17.9636 17.0921M17.9636 17.0921L12.2666 22.7891M17.9636 17.0921V29.9104M29.9131 26.1931C31.3022 25.4358 32.3996 24.2374 33.032 22.7871C33.6644 21.3369 33.7959 19.7173 33.4056 18.1841C33.0154 16.6508 32.1256 15.2912 30.8768 14.3197C29.628 13.3483 28.0913 12.8204 26.5091 12.8193H24.7146C24.2835 11.1519 23.48 9.60387 22.3645 8.29165C21.249 6.97942 19.8505 5.93716 18.2742 5.2432C16.6979 4.54924 14.9849 4.22166 13.2637 4.28507C11.5426 4.34848 9.85828 4.80124 8.33734 5.60931C6.8164 6.41739 5.49843 7.55974 4.48253 8.95049C3.46662 10.3412 2.77922 11.9442 2.47199 13.6389C2.16477 15.3335 2.24572 17.0758 2.70875 18.7346C3.17179 20.3935 4.00486 21.9258 5.14534 23.2164"
            stroke="#1E1E1E" stroke-width="2.8485" stroke-linecap="round" stroke-linejoin="round" />
        </g>
        <defs>
          <clipPath id="clip0_1010_510">
            <rect width="34.182" height="34.182" fill="white" transform="translate(0.872559)" />
          </clipPath>
        </defs>
      </svg>
      Upload
    </button>
    <span class="sv-header">Saved Notes</span>
    <!-- dynamic content loading here -->
    <div class="saved-notes-container"></div>
    <button class="right-panel-btn">Help & Support</button>
    <button class="right-panel-btn">User Guide</button>
    <button class="right-panel-btn">About</button>
  </div>
  <div class="search-bar-box">
    <input type="text" class="search-bar" placeholder="Search Notes" />
    <button>
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <div class="middle-section">
    <!-- In this div, I bring all the note cards with DOM, check feed.js for data storage and dashboard js for DOM calling. -->
    <div class="feed-container"></div>
  </div>
  <div class="notification-panel">
    <div class="notification-panel-header">
      <a href='/user/<%= student.studentID %>'><img src="/<%= student.profile_pic %>" class="profile-pic" /></a>
      <i class="fa-solid fa-gear settings-icon"></i>
    </div>
    <p class="sub-header">
      Notifications
      <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="#07192D" />
      </svg>
    </p>
    <div class="notifications-container">
		<% if(notis.length !=0) { %>
			<% notis.forEach(noti => { %>
				<div class="notification">
					<div class="first-row">
						<span class="notification-title">
						<a href='/view/<%= noti.noteDocID._id %>'><%= noti.noteDocID.title %></a>
						</span>
						<span class="remove-notification">&times;</span>
					</div>
					<div class="notification-msg">
						<a href='/user/<%= noti.commenterDocID.studentID %>'><%= noti.commenterDocID.displayname %></a> has given a feedback in your notes! Check that out.
					</div>
				</div>
			<% }) %>
		<% } %>
    </div>
  </div>
  <script src="/js/data/feed.js"></script>
  <script src="/js/data/saved-notes.js"></script>
  <script src="/js/dashboard.js"></script>
</body>

</html>