	<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/main-pages.css" />
	<link rel="stylesheet" href="/css/dashboard.css" />
	<link rel="stylesheet" href="/css/loaders.css" />
	<link rel="stylesheet" href="/css/share-note.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
		rel="stylesheet"
	/>
	<link 
		href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" 
		rel="stylesheet"
	>
	<script
		src="https://kit.fontawesome.com/be4b1d4185.js"
		crossorigin="anonymous"
	></script>
	<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
	<title>Dashboard</title>
	</head>

	<body>
	<%- include('side-panel', { block: 'left-panel' }) %> 
	<%- include('side-panel', { block: 'search-bar' }) %>

	<div class="middle-section">
		<!--* The main feed back container where all the notes will be shown dynamically -->
		<div class="feed-container">
		<% if(notes.length != 0) { %> 
			<% let savedNotesIDs = []
			savedNotes.forEach(note => { 
				savedNotesIDs.push(note._id.toString()) 
			})
			%> 
			<% notes.forEach(note => { %>
				<div class="feed-note-card" id="note-<%= note._id %>">
					<div class="thumbnail-container">
						<div class="thumbnail-loading">
							<svg className="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18">
								<path 
									d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" 
									style="fill: hsl(0, 0%, 80%);" 
								/>
							</svg>
						</div> 

						<img class="thumbnail" data-src="<%= note.content[0] %>" onclick="window.location.href='/view/<%= note._id %>'"/>

						<% if(savedNotesIDs.includes(note._id.toString())) { %>
							<button class="save-note-btn saved" id="save-btn-<%= note._id %>" onclick="saveNote('<%= note._id %>')">
								<i class="fa-regular fa-bookmark"></i>
								<i class="fa-solid fa-bookmark saved"></i>
							</button>
						<% } else { %>
							<button class="save-note-btn" id="save-btn-<%= note._id %>" onclick="saveNote('<%= note._id %>')">
								<i class="fa-regular fa-bookmark"></i>
								<i class="fa-solid fa-bookmark saved"></i>
							</button>
						<% } %>
					</div>

					<div class="note-details">
					<div class="author-info">
						<img src="<%= note.ownerDocID.profile_pic %>" class="author-img"/>
						<div class="author-title-container">
						<div class="note-title">
							<a href="/view/<%= note._id %>"><%= note.title %></a>
						</div>
						<div class="author">
							<a class="author-prfl-link" href="/user/<%= note.ownerDocID.studentID %>"><%= note.ownerDocID.displayname %></a>
						</div>
						</div>
					</div>
					<div class="note-engagement">
						<svg
							class="download-icon"
							width="40"
							height="40"
							viewBox="0 0 43 43"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
							onclick="download('<%= note._id %>', '<%= note.title %>')"
						>
						<path
							d="M37.1541 26.5395V33.6165C37.1541 34.555 36.7813 35.455 36.1177 36.1186C35.4541 36.7822 34.5541 37.155 33.6156 37.155H8.84623C7.90776 37.155 7.00773 36.7822 6.34414 36.1186C5.68054 35.455 5.30774 34.555 5.30774 33.6165V26.5395M12.3847 17.6933L21.2309 26.5395M21.2309 26.5395L30.0771 17.6933M21.2309 26.5395V5.30859"
							stroke="#1E1E1E"
							stroke-width="2.29523"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						</svg>
						<svg
							onclick="window.location.href='/view/<%= note._id %>/#feedbacks';"
							class="comment-icon"
							width="40"
							height="40"
							viewBox="0 0 36 37"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
						<path
							d="M34.4051 23.9151C34.4051 24.8838 34.0257 25.8128 33.3505 26.4978C32.6753 27.1828 31.7595 27.5676 30.8045 27.5676H9.20113L2 34.8726V5.65252C2 4.68381 2.37934 3.75478 3.05458 3.0698C3.72982 2.38482 4.64564 2 5.60057 2H30.8045C31.7595 2 32.6753 2.38482 33.3505 3.0698C34.0257 3.75478 34.4051 4.68381 34.4051 5.65252V23.9151Z"
							stroke="#1E1E1E"
							stroke-width="2.40038"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
						</svg>
						<svg
							class="share-icon"
							width="40"
							height="40"
							viewBox="0 0 46 46"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
							onclick="setupShareModal('<%= note._id %>')"
						>
						<path
							d="M30.6079 32.5223L27.8819 29.8441L36.6816 21.0444L27.8819 12.2446L30.6079 9.56641L42.0858 21.0444L30.6079 32.5223ZM3.82599 36.3483V28.6963C3.82599 26.05 4.7506 23.8023 6.59983 21.953C8.48094 20.0719 10.7446 19.1314 13.391 19.1314H25.2037L18.3169 12.2446L21.0429 9.56641L32.5209 21.0444L21.0429 32.5223L18.3169 29.8441L25.2037 22.9574H13.391C11.7968 22.9574 10.4418 23.5153 9.32584 24.6312C8.20993 25.7471 7.65197 27.1022 7.65197 28.6963V36.3483H3.82599Z"
							fill="#1D1B20"
						/>
						</svg>
					</div>
					</div>
				</div>
		<% }) %> 
		<% } %>
		</div>
		<p class="fetch-loading" style="display: none;">Fetching...</p>
		<p class="finish" style="display: none;">You covered all of that!!!</p>
	</div>

	<%- include('side-panel', { block: 'right-panel' }) %>
	<%- include('side-panel', { block: 'mbl-ctrl-panel' }) %>
	<!-- Mobile Bottom Control Bar -->
	
	<div class="background-overlay"></div>
	<div id="overlay" class="overlay"></div>

	<div class="popup" id="popup">
		<h2>Congratulations!</h2>
		<p>Click the button below to trigger the confetti.</p>
		<button class="button" onclick="triggerConfetti()">Celebrate!</button>
	</div>
	<%- include('side-panel', { block: 'share-note' }) %>
	<%- include('side-panel', { block: 'downloading-loader' }) %>

	<canvas id="confettiCanvas"></canvas>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
	<!-- Audio for Notification -->
	<audio id="notification-sound" src="notification-ping-sound.mp3" preload="auto"></audio>

	<script src="/js/dashboard.js"></script>
	<script src="/js/controller.js"></script>
	</body>
	</html>
