<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main-pages.css" />
    <link rel="stylesheet" href="/css/note-view.css" />
    <link rel="stylesheet" href="/css/loaders.css" />
    <link rel="stylesheet" href="/css/share-note.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link 
      href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" 
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tributejs/5.1.3/tribute.min.css"
    />
    <script
      src="https://kit.fontawesome.com/be4b1d4185.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dexie@latest/dist/dexie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tributejs/5.1.3/tribute.min.js"></script>

    <!-- Text Editor - Toast for now - We can use quill for later mention feature and also tiptap for react support -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.js"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css">

    <!-- Meta Details -->
    <title><%= note.title %></title>
  </head>
  <body>
    <% if(mynote == 3) { %>
      <a href="/login" style="display: none;" class="kick"></a>
    <% } %>
    <% if(mynote != 3) { %>
      <%- include('side-panel', { block: 'left-panel' }) %>
      <%- include('side-panel', { block: 'search-bar' }) %>
    <% } %>
    <span class="note-id" style="display: none"><%= note._id %></span>
    <!-- Anirban this is the note id.  -->
    <div class="middle-section">
      <div class="first-box">
        <h2 class="section-title"><%= note.title %></h2>
        <span class="subject">Subject: <%= note.subject %> </span>
        <!-- Working on its design still -->
        <% if(note.isFeatured) { %>
        <p class="featured-note">Featured Note</p>
        <% } %>
      </div>
      <div class="carousel-container">
        <!-- The notes images will be taken from the backend as an array and will be added dynamically using a loop or by mapping -->
        <div class="carousel-wrapper">
          <span class="note-thumbnail" style="display: none;"><%= note.content[0] %></span>
          <% note.content.forEach(note => { %>
          <div class="carousel-slide">
            <img src="<%= note %>" class="image-links" />
          </div>
          <% }) %>
        </div>
        <button class="carousel-control prev">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="carousel-control next">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>

      <div class="third-box">
        <div class="author-info">
          <img src="<%= owner.profile_pic %>" alt="Author Picture" />
          <span class="author-name">
            <a href="/user/<%= owner.username %>">
              <%= owner.displayname %>
            </a>
            <span class="studentusername" style="display: none"
              ><%= owner.username %></span
            >
          </span>
        </div>
        <div class="note-engagement">
          <svg
            class="download-icon"
            width="40"
            height="40"
            viewBox="0 0 43 43"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            onclick="download('<%= note._id %>', '<%= note.title %>')"
          >
            <path
              d="M37.1541 26.5395V33.6165C37.1541 34.555 36.7813 35.455 36.1177 36.1186C35.4541 36.7822 34.5541 37.155 33.6156 37.155H8.84623C7.90776 37.155 7.00773 36.7822 6.34414 36.1186C5.68054 35.455 5.30774 34.555 5.30774 33.6165V26.5395M12.3847 17.6933L21.2309 26.5395M21.2309 26.5395L30.0771 17.6933M21.2309 26.5395V5.30859"
              stroke="#1E1E1E"
              stroke-width="2.29523"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            onclick="window.location.href='/view/<%= note._id %>/#feedbacks';"
            class="comment-icon"
            width="40"
            height="40"
            viewBox="0 0 36 37"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M34.4051 23.9151C34.4051 24.8838 34.0257 25.8128 33.3505 26.4978C32.6753 27.1828 31.7595 27.5676 30.8045 27.5676H9.20113L2 34.8726V5.65252C2 4.68381 2.37934 3.75478 3.05458 3.0698C3.72982 2.38482 4.64564 2 5.60057 2H30.8045C31.7595 2 32.6753 2.38482 33.3505 3.0698C34.0257 3.75478 34.4051 4.68381 34.4051 5.65252V23.9151Z"
              stroke="#1E1E1E"
              stroke-width="2.40038"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            class="share-icon"
            width="40"
            height="40"
            viewBox="0 0 46 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            onclick="setupShareModal('<%= note._id %>')"
          >
            <path
              d="M30.6079 32.5223L27.8819 29.8441L36.6816 21.0444L27.8819 12.2446L30.6079 9.56641L42.0858 21.0444L30.6079 32.5223ZM3.82599 36.3483V28.6963C3.82599 26.05 4.7506 23.8023 6.59983 21.953C8.48094 20.0719 10.7446 19.1314 13.391 19.1314H25.2037L18.3169 12.2446L21.0429 9.56641L32.5209 21.0444L21.0429 32.5223L18.3169 29.8441L25.2037 22.9574H13.391C11.7968 22.9574 10.4418 23.5153 9.32584 24.6312C8.20993 25.7471 7.65197 27.1022 7.65197 28.6963V36.3483H3.82599Z"
              fill="#1D1B20"
            />
          </svg>
        </div>
      </div>
      <div class="desc-box">
        <h3>Note description</h3>
        <p><%- note.description %></p>
      </div>
      

      <!-- Here feedbacks -->

      <!-- New Thread Section -->
      <div class="cmnts-section">
        <div class="editor-container">
          <div class="editor" id="editor"></div>
          <svg id="cmnt-btn" class="cmnt-btn" width="18px" height="18px" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg">
            <path d="M231.626,128a16.015,16.015,0,0,1-8.18262,13.96094L54.53027,236.55273a15.87654,15.87654,0,0,1-18.14648-1.74023,15.87132,15.87132,0,0,1-4.74024-17.60156L60.64746,136H136a8,8,0,0,0,0-16H60.64746L31.64355,38.78906A16.00042,16.00042,0,0,1,54.5293,19.44727l168.915,94.59179A16.01613,16.01613,0,0,1,231.626,128Z"/>
          </svg>
        </div>

        <div class="cmnts-list">
          <!-- 2 Cmnt Sample as templates, Remove one and one add ejs, and make the template string accordingly. -->
          <% function formatDate(date) { 
              const formatter = new Intl.DateTimeFormat('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                timeZone: 'Asia/Dhaka', 
                hour12: true 
              });
            const formattedDate = formatter.format(date);
            return formattedDate
          } %>
          <% feedbacks.forEach(feedback => { %>
            <div class="main-cmnt-container">
              <div class="main__author-threadline-wrapper">
                <img
                  src="<%= feedback[0].commenterDocID.profile_pic %>"
                  alt="User Avatar"
                  class="main__cmnt-author-img cmnt-author-img"
                />
                <div class="thread-line"></div>
              </div>
  
              <div class="main__cmnts-replies-wrapper">
                <div class="main__body cmnt-body-3rows">
                  <div class="main__reply-info reply-info">
                    <span id="parentFeedbackDocID" style="display: none;"><%= feedback[0]._id %></span>
                    <span class="main__author-name"><%= feedback[0].commenterDocID.displayname %></span>
                    <span class="reply-date"><%= formatDate(new Date(feedback[0].createdAt)) %></span>
                  </div>
                  <div class="main__reply-msg reply-msg"><%= feedback[0].feedbackContents %></div>
                  <div class="main__engagement-opts engagement-opts">
                    <div class="vote-container">
                      <div class="uv-container">
                        <svg class="uv-icon" width="15" height="16" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M20.293 10.2935L19.5859 11.0006L20.293 10.2935ZM10.2929 1.70717L9.58575 1.00008L10.2929 1.70717ZM9.58575 1.00008L0.999862 9.58646L2.41412 11.0006L11 2.41425L9.58575 1.00008ZM2.41412 13.0006H6V11.0006H2.41412V13.0006ZM6 13.0006V19.5H8V13.0006H6ZM9.5 23H12.5V21H9.5V23ZM16 19.5V13.0006H14V19.5H16ZM16 13.0006H19.5859V11.0006H16V13.0006ZM21.0001 9.58646L12.4143 1.00008L11 2.41425L19.5859 11.0006L21.0001 9.58646ZM19.5859 13.0006C21.3677 13.0006 22.26 10.8464 21.0001 9.58646L19.5859 11.0006L19.5859 11.0006V13.0006ZM16 13.0006L16 13.0006V11.0006C14.8954 11.0006 14 11.8961 14 13.0006H16ZM12.5 23C14.433 23 16 21.433 16 19.5H14C14 20.3284 13.3284 21 12.5 21V23ZM6 19.5C6 21.433 7.567 23 9.5 23V21C8.67157 21 8 20.3284 8 19.5H6ZM6 13.0006L6 13.0006H8C8 11.8961 7.10457 11.0006 6 11.0006V13.0006ZM0.999862 9.58646C-0.260013 10.8464 0.632334 13.0006 2.41412 13.0006V11.0006L2.41412 11.0006L0.999862 9.58646ZM11 2.41425L11 2.41425L12.4143 1.00008C11.6332 0.218978 10.3668 0.218978 9.58575 1.00008L11 2.41425Z" fill="black"/>
                          </svg>									
                        <span class="uv-count">0</span>
                      </div>
                      <div class="divider-uv-dv"></div>
                      <div class="dv-container">
                      <svg class="dv-icon" width="15" height="16" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.72696 13.8523L2.42297 13.1343L1.72696 13.8523ZM11.8598 22.2816L12.5779 22.9776L11.8598 22.2816ZM12.5779 22.9776L21.0288 14.2583L19.5926 12.8664L11.1418 21.5856L12.5779 22.9776ZM19.5614 10.8666L15.976 10.9226L16.0072 12.9223L19.5926 12.8664L19.5614 10.8666ZM15.976 10.9226L15.8746 4.42398L13.8748 4.45518L13.9762 10.9538L15.976 10.9226ZM12.3204 0.979002L9.3208 1.0258L9.352 3.02556L12.3516 2.97876L12.3204 0.979002ZM5.87582 4.57998L5.97721 11.0786L7.97697 11.0474L7.87558 4.54878L5.87582 4.57998ZM5.97721 11.0786L2.39177 11.1345L2.42297 13.1343L6.00841 13.0783L5.97721 11.0786ZM1.03095 14.5703L9.74973 23.0217L11.1418 21.5856L2.42297 13.1343L1.03095 14.5703ZM2.39177 11.1345C0.6102 11.1623 -0.24843 13.3302 1.03095 14.5703L2.42297 13.1343L2.42297 13.1343L2.39177 11.1345ZM5.97721 11.0786L5.97721 11.0786L6.00841 13.0783C7.11285 13.0611 7.9942 12.1518 7.97697 11.0474L5.97721 11.0786ZM9.3208 1.0258C7.38804 1.05596 5.84567 2.64721 5.87582 4.57998L7.87558 4.54878C7.86266 3.72045 8.52367 3.03848 9.352 3.02556L9.3208 1.0258ZM15.8746 4.42398C15.8445 2.49122 14.2532 0.948848 12.3204 0.979002L12.3516 2.97876C13.18 2.96584 13.8619 3.62685 13.8748 4.45518L15.8746 4.42398ZM15.976 10.9226L15.976 10.9226L13.9762 10.9538C13.9935 12.0582 14.9028 12.9395 16.0072 12.9223L15.976 10.9226ZM21.0288 14.2583C22.2689 12.9789 21.343 10.8388 19.5614 10.8666L19.5926 12.8664L19.5926 12.8664L21.0288 14.2583ZM11.1418 21.5856L11.1418 21.5856L9.74973 23.0217C10.5429 23.7905 11.8091 23.7708 12.5779 22.9776L11.1418 21.5856Z" fill="black"/>
                        </svg>
                      </div>
                    </div>
                    <svg 
                    class="reply-icon thread-opener"
                    data-tippy-content="Reply"
                    width="25" height="24" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.7186 12.9452C18.7186 13.401 18.5375 13.8382 18.2152 14.1605C17.8929 14.4829 17.4557 14.6639 16.9999 14.6639H6.68747L3.25 18.1014V4.35155C3.25 3.89571 3.43108 3.45854 3.75341 3.13622C4.07573 2.81389 4.5129 2.63281 4.96873 2.63281H16.9999C17.4557 2.63281 17.8929 2.81389 18.2152 3.13622C18.5375 3.45854 18.7186 3.89571 18.7186 4.35155V12.9452Z" stroke="#1E1E1E" stroke-width="1.14582" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>                    
                  </div>
                </div>
  
                <div class="thread-section" id="thread-<%= feedback[0]._id %>">
                  <% if(feedback[1] && feedback[1].length > 0) { %>
                    <% feedback[1].map(reply => { %>
                      <div class="thread-msg">
                        <img src="<%= reply.commenterDocID.profile_pic %>" alt="User Avatar" class="cmnt-author-img thread-avatar">
                        <div class="cmnt-body-3rows">
                          <div class="reply-info">
                            <span class="main__author-name"><%= reply.commenterDocID.displayname %></span>
                            <span class="reply-date"><%= formatDate(new Date(reply.createdAt)) %></span>
                          </div>
                          <div class="reply-msg"><%= reply.feedbackContents %></div>
                          <div class="main__engagement-opts engagement-opts">
                            <div class="vote-container">
                              <div class="uv-container">
                                <svg class="uv-icon" width="15" height="16" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M20.293 10.2935L19.5859 11.0006L20.293 10.2935ZM10.2929 1.70717L9.58575 1.00008L10.2929 1.70717ZM9.58575 1.00008L0.999862 9.58646L2.41412 11.0006L11 2.41425L9.58575 1.00008ZM2.41412 13.0006H6V11.0006H2.41412V13.0006ZM6 13.0006V19.5H8V13.0006H6ZM9.5 23H12.5V21H9.5V23ZM16 19.5V13.0006H14V19.5H16ZM16 13.0006H19.5859V11.0006H16V13.0006ZM21.0001 9.58646L12.4143 1.00008L11 2.41425L19.5859 11.0006L21.0001 9.58646ZM19.5859 13.0006C21.3677 13.0006 22.26 10.8464 21.0001 9.58646L19.5859 11.0006L19.5859 11.0006V13.0006ZM16 13.0006L16 13.0006V11.0006C14.8954 11.0006 14 11.8961 14 13.0006H16ZM12.5 23C14.433 23 16 21.433 16 19.5H14C14 20.3284 13.3284 21 12.5 21V23ZM6 19.5C6 21.433 7.567 23 9.5 23V21C8.67157 21 8 20.3284 8 19.5H6ZM6 13.0006L6 13.0006H8C8 11.8961 7.10457 11.0006 6 11.0006V13.0006ZM0.999862 9.58646C-0.260013 10.8464 0.632334 13.0006 2.41412 13.0006V11.0006L2.41412 11.0006L0.999862 9.58646ZM11 2.41425L11 2.41425L12.4143 1.00008C11.6332 0.218978 10.3668 0.218978 9.58575 1.00008L11 2.41425Z" fill="black"/>
                                  </svg>									
                                <span class="uv-count">0</span>
                              </div>
                              <div class="divider-uv-dv"></div>
                              <div class="dv-container">
                              <svg class="dv-icon" width="15" height="16" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.72696 13.8523L2.42297 13.1343L1.72696 13.8523ZM11.8598 22.2816L12.5779 22.9776L11.8598 22.2816ZM12.5779 22.9776L21.0288 14.2583L19.5926 12.8664L11.1418 21.5856L12.5779 22.9776ZM19.5614 10.8666L15.976 10.9226L16.0072 12.9223L19.5926 12.8664L19.5614 10.8666ZM15.976 10.9226L15.8746 4.42398L13.8748 4.45518L13.9762 10.9538L15.976 10.9226ZM12.3204 0.979002L9.3208 1.0258L9.352 3.02556L12.3516 2.97876L12.3204 0.979002ZM5.87582 4.57998L5.97721 11.0786L7.97697 11.0474L7.87558 4.54878L5.87582 4.57998ZM5.97721 11.0786L2.39177 11.1345L2.42297 13.1343L6.00841 13.0783L5.97721 11.0786ZM1.03095 14.5703L9.74973 23.0217L11.1418 21.5856L2.42297 13.1343L1.03095 14.5703ZM2.39177 11.1345C0.6102 11.1623 -0.24843 13.3302 1.03095 14.5703L2.42297 13.1343L2.42297 13.1343L2.39177 11.1345ZM5.97721 11.0786L5.97721 11.0786L6.00841 13.0783C7.11285 13.0611 7.9942 12.1518 7.97697 11.0474L5.97721 11.0786ZM9.3208 1.0258C7.38804 1.05596 5.84567 2.64721 5.87582 4.57998L7.87558 4.54878C7.86266 3.72045 8.52367 3.03848 9.352 3.02556L9.3208 1.0258ZM15.8746 4.42398C15.8445 2.49122 14.2532 0.948848 12.3204 0.979002L12.3516 2.97876C13.18 2.96584 13.8619 3.62685 13.8748 4.45518L15.8746 4.42398ZM15.976 10.9226L15.976 10.9226L13.9762 10.9538C13.9935 12.0582 14.9028 12.9395 16.0072 12.9223L15.976 10.9226ZM21.0288 14.2583C22.2689 12.9789 21.343 10.8388 19.5614 10.8666L19.5926 12.8664L19.5926 12.8664L21.0288 14.2583ZM11.1418 21.5856L11.1418 21.5856L9.74973 23.0217C10.5429 23.7905 11.8091 23.7708 12.5779 22.9776L11.1418 21.5856Z" fill="black"/>
                                </svg>
                              </div>
                            </div>
                            <svg 
                            class="reply-icon thread-opener"
                            data-tippy-content="Reply"
                            width="25" height="24" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M18.7186 12.9452C18.7186 13.401 18.5375 13.8382 18.2152 14.1605C17.8929 14.4829 17.4557 14.6639 16.9999 14.6639H6.68747L3.25 18.1014V4.35155C3.25 3.89571 3.43108 3.45854 3.75341 3.13622C4.07573 2.81389 4.5129 2.63281 4.96873 2.63281H16.9999C17.4557 2.63281 17.8929 2.81389 18.2152 3.13622C18.5375 3.45854 18.7186 3.89571 18.7186 4.35155V12.9452Z" stroke="#1E1E1E" stroke-width="1.14582" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>                    
                          </div>
                        </div>
                      </div>
                    <% }) %>



                    <div class="thread-editor-container">
                      <!-- <img class="tec__avatar-preview thread-avatar" src="<%= root.profile_pic %>"> -->
                      <div class="thread-editor-wrapper">
                        <textarea placeholder="Write a comment..." class="thread-editor"></textarea>
                        <div class="thread-editor__action-opts">
                          <svg id="threadCmntBtn" class="thread__cmnt-btn" width="18px" height="18px" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg">
                            <path d="M231.626,128a16.015,16.015,0,0,1-8.18262,13.96094L54.53027,236.55273a15.87654,15.87654,0,0,1-18.14648-1.74023,15.87132,15.87132,0,0,1-4.74024-17.60156L60.64746,136H136a8,8,0,0,0,0-16H60.64746L31.64355,38.78906A16.00042,16.00042,0,0,1,54.5293,19.44727l168.915,94.59179A16.01613,16.01613,0,0,1,231.626,128Z"/>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <% } %>
                  </div>
              </div>
            </div>
          <% }) %>
          






        </div>
      </div>
    </div>
    <% if(mynote != 3) { %>
      <%- include('side-panel', { block: 'right-panel' }) %>
    <% } %>
    <%- include('side-panel', { block: 'mbl-ctrl-panel' }) %>

	  <audio id="notificationAudio" src="/sounds/notification-ping-sound.mp3" preload="auto"></audio>
    <div class="background-overlay"></div>

    <%- include('side-panel', { block: 'share-note' }) %>
    <%- include('side-panel', { block: 'downloading-loader' }) %>
    
    <script src="/js/controller.js"></script>
    <script src="/js/note-view.js"></script>
    <script>
 
    </script>
  </body>
</html>
