<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main-pages.css" />
    <link rel="stylesheet" href="/css/note-view.css" />
    <link rel="stylesheet" href="/css/loaders.css" />
    <link rel="stylesheet" href="/css/share-note.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link 
      href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" 
      rel="stylesheet"
    >
    <script
      src="https://kit.fontawesome.com/be4b1d4185.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <title><%= note.title %></title>
  </head>
  <body>
    <% if(mynote == 3) { %>
      <a href="/login" style="display: none;" class="kick"></a>
    <% } %>
    <% if(mynote != 3) { %>
      <%- include('side-panel', { block: 'left-panel' }) %>
      <%- include('side-panel', { block: 'search-bar' }) %>
    <% } %>
    <span class="note-id" style="display: none"><%= note._id %></span>
    <!-- Anirban this is the note id.  -->
    <div class="middle-section">
      <div class="first-box">
        <h2 class="section-title"><%= note.title %></h2>
        <span class="subject">Subject: <%= note.subject %> </span>
        <!-- Working on its design still -->
        <% if(note.isFeatured) { %>
        <p class="featured-note">Featured Note</p>
        <% } %>
      </div>
      <div class="carousel-container">
        <!-- The notes images will be taken from the backend as an array and will be added dynamically using a loop or by mapping -->
        <div class="carousel-wrapper">
          <span class="note-thumbnail" style="display: none;"><%= note.content[0] %></span>
          <% note.content.forEach(note => { %>
          <div class="carousel-slide">
            <img src="<%= note %>" class="image-links" />
          </div>
          <% }) %>
        </div>
        <button class="carousel-control prev">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="carousel-control next">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>

      <div class="third-box">
        <div class="author-info">
          <img src="<%= owner.profile_pic %>" alt="Author Picture" />
          <span class="author-name">
            <a href="/user/<%= owner.username %>">
              <%= owner.displayname %>
            </a>
            <span class="studentusername" style="display: none"
              ><%= owner.username %></span
            >
          </span>
        </div>
        <div class="note-engagement">
          <svg
            class="download-icon"
            width="40"
            height="40"
            viewBox="0 0 43 43"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            onclick="download('<%= note._id %>', '<%= note.title %>')"
          >
            <path
              d="M37.1541 26.5395V33.6165C37.1541 34.555 36.7813 35.455 36.1177 36.1186C35.4541 36.7822 34.5541 37.155 33.6156 37.155H8.84623C7.90776 37.155 7.00773 36.7822 6.34414 36.1186C5.68054 35.455 5.30774 34.555 5.30774 33.6165V26.5395M12.3847 17.6933L21.2309 26.5395M21.2309 26.5395L30.0771 17.6933M21.2309 26.5395V5.30859"
              stroke="#1E1E1E"
              stroke-width="2.29523"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            onclick="window.location.href='/view/<%= note._id %>/#feedbacks';"
            class="comment-icon"
            width="40"
            height="40"
            viewBox="0 0 36 37"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M34.4051 23.9151C34.4051 24.8838 34.0257 25.8128 33.3505 26.4978C32.6753 27.1828 31.7595 27.5676 30.8045 27.5676H9.20113L2 34.8726V5.65252C2 4.68381 2.37934 3.75478 3.05458 3.0698C3.72982 2.38482 4.64564 2 5.60057 2H30.8045C31.7595 2 32.6753 2.38482 33.3505 3.0698C34.0257 3.75478 34.4051 4.68381 34.4051 5.65252V23.9151Z"
              stroke="#1E1E1E"
              stroke-width="2.40038"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            class="share-icon"
            width="40"
            height="40"
            viewBox="0 0 46 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            onclick="setupShareModal('<%= note._id %>')"
          >
            <path
              d="M30.6079 32.5223L27.8819 29.8441L36.6816 21.0444L27.8819 12.2446L30.6079 9.56641L42.0858 21.0444L30.6079 32.5223ZM3.82599 36.3483V28.6963C3.82599 26.05 4.7506 23.8023 6.59983 21.953C8.48094 20.0719 10.7446 19.1314 13.391 19.1314H25.2037L18.3169 12.2446L21.0429 9.56641L32.5209 21.0444L21.0429 32.5223L18.3169 29.8441L25.2037 22.9574H13.391C11.7968 22.9574 10.4418 23.5153 9.32584 24.6312C8.20993 25.7471 7.65197 27.1022 7.65197 28.6963V36.3483H3.82599Z"
              fill="#1D1B20"
            />
          </svg>
        </div>
      </div>
      <div class="desc-box">
        <h3>Note description</h3>
        <p><%- note.description %></p>
      </div>
      <div class="feedbacks-section" id="feedbacks">
        <h2>Feedbacks</h2>

        <!-- feedback Input Area -->
        <% if(mynote == 0) { %>
        <div class="feedback-input">
          <textarea
            placeholder="Write a feedback..."
            rows="3"
            name="feedbackText"
          ></textarea>
          <button type="button" class="btn-submit-feedback post-feedback">
            Post feedback
          </button>
        </div>
        <% } %>

        <!-- Feedbacks List -->
        <div class="feedbacks-list">
          <% function formatDate(date) { 
              const formatter = new Intl.DateTimeFormat('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: '2-digit',
                minute: '2-digit',
                timeZone: 'Asia/Dhaka', 
                hour12: true 
              });
            const formattedDate = formatter.format(date);
            return formattedDate
          } %>
          <!-- Individual feedback -->
          <% feedbacks.forEach(feedback => { %>
          <div class="feedback" id="<%= feedback._id %>">
            <div class="feedback-header">
              <span class="feedback-id" style="display: none"
                ><%= feedback._id %></span>
              <!-- Anirban, this is the unique id of each feedback -->
              <img
                src="<%= feedback.commenterDocID.profile_pic %>"
                alt="User Avatar"
                class="feedback-avatar"
              />
              <div class="feedback-author-info">
                <a
                  class="link_"
                  href="/user/<%= feedback.commenterDocID.username %>"
                  ><h4 class="feedback-author">
                    <%= feedback.commenterDocID.displayname %>
                  </h4></a
                >
                <span class="feedback-date"
                  ><%= formatDate(new Date(feedback.createdAt)) %></span
                >
              </div>
            </div>
            <div class="feedback-body">
              <p><%= feedback.feedbackContents %></p>
            </div>
            <div class="feedback-actions">
              <!-- <button type="button" class="btn-reply">Reply</button>
                            <button type="button" class="btn-like">Like</button> -->
            </div>
          </div>
          <% }) %>
          <!--* This feedbackcards are the one grabbed from the database, not the one posted via websockets -->
        </div>
      </div>
    </div>
    <% if(mynote != 3) { %>
      <%- include('side-panel', { block: 'right-panel' }) %>
    <% } %>
    <%- include('side-panel', { block: 'mbl-ctrl-panel' }) %>

	  <audio id="notificationAudio" src="/sounds/notification-ping-sound.mp3" preload="auto"></audio>
    <div class="background-overlay"></div>

    <%- include('side-panel', { block: 'share-note' }) %>
    <%- include('side-panel', { block: 'downloading-loader' }) %>
    
    <script src="/js/controller.js"></script>
    <script src="/js/note-view.js"></script>
  </body>
</html>
