<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/note-view.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/be4b1d4185.js" crossorigin="anonymous"></script>
    <title><%= note.title %></title>
</head>
<body>
    <!-- **********  Search Bar ************* -->
    <div class="search-bar-box">
        <input type="text" class="search-bar" placeholder="Search Notes">
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <div class="middle-section">
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-slide active">
                    <img src="/images/test-note-img.img" alt="Note 1">
                </div>
                <div class="carousel-slide">
                    <img src="/images/test-note-img.img" alt="Note 2">
                </div>
                <div class="carousel-slide">
                    <img src="/images/test-note-img.img" alt="Note 3">
                </div>
            </div>
            <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
            <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
        </div>
    </div>

    <div class="note">
        <% if(mynote) { %>
            <h1>Your Note</h1> <!-- If the note is created by you, 'Your Note' will be shown -->
        <% } else { %>
            <h1><%= owner.displayname %>'s Note</h1> <!-- If the note is not created by you, the owner's name will be shown -->
        <% } %>
        <!-- Here the carousel of all the note images will be placed -->

        <h1><%= note.subject  %></h1> <!-- Note subject -->
        <h3><%= note.title %></h3> <!-- Note title -->
        <p><%= note.description %></p> <!-- Note description -->
        <% if(note.isFeatured) { %>
            <p>This is a <b>Featured Note</b></p>
        <% } else { %>
            <p>This is not a Featured Note</p>
        <% } %>
    </div> 

</body>
</html>