<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Note</title>
    <link rel="stylesheet" href="/css/main-pages.css">
    <link rel="stylesheet" href="/css/upload-note.css">
	<link rel="stylesheet" href="/css/error-popup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link 
      href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" 
      rel="stylesheet"
    >
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.js"></script>
    <script src="https://kit.fontawesome.com/be4b1d4185.js" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
<body>
    
    <%- include('side-panel', { block: 'left-panel' }) %>
    <%- include('side-panel', { block: 'search-bar' }) %>
    <!-- ****** Middle Section ****** -->
    <div class="middle-section">
        <h2>Upload</h2>
        <div class="upload-container">
            <svg width="75" height="75" viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_606_961)">
                <path d="M48.3085 48.3057L36.2314 36.2286M36.2314 36.2286L24.1542 48.3057M36.2314 36.2286V63.4021M61.5631 55.5218C64.5079 53.9164 66.8343 51.376 68.175 48.3016C69.5156 45.2272 69.7943 41.7938 68.967 38.5435C68.1397 35.2931 66.2535 32.4108 63.6062 30.3514C60.9588 28.2921 57.7011 27.173 54.347 27.1708H50.5427C49.6289 23.6359 47.9255 20.3542 45.5608 17.5724C43.196 14.7907 40.2314 12.5811 36.8899 11.11C33.5483 9.6389 29.9167 8.94445 26.2681 9.07888C22.6195 9.21331 19.0488 10.1731 15.8246 11.8862C12.6003 13.5992 9.80635 16.0209 7.65273 18.9691C5.49911 21.9174 4.04188 25.3155 3.39059 28.908C2.7393 32.5006 2.9109 36.194 3.89249 39.7106C4.87409 43.2273 6.64013 46.4756 9.05784 49.2115" stroke="#1E1E1E" stroke-width="6.03856" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_606_961">
                <rect width="72.4627" height="72.4627" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            <!-- <p class="upload-msg">Drag & drop files</p> -->
            <p class="suggested-formats-msg">Suggested Formats : PNG, JPG</p>
            <!-- <span class="device-upload-sep">Or</span>   -->
                <p class="upload-msg">Upload pictures from your         
                    device
                </p>
            <div class="browse-file-container"> <!--Backend integration for file type-->
                <input type="file" id="fileInput" class="file-input" name="images"/>
                <label for="fileInput" class="browse-files-btn">
                    <pre><i class="fa-regular fa-file"></i> Browse</pre>
                </label>
            </div>
        </div>
        <div class="stack-status">
            <div class="stack-number-container">
                <div class="snc-info-wrapper">
                <i class="fa-solid fa-layer-group"></i>
                <span class="stack-info">
                    <span class="stack-number">No Images</span>
                </span>
                </div>
                <span class="stack-prompt">Click to view</span>
            </div>
            
            <div class="success-upload-msg">
                <svg width="20" height="20" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1844_2149)">
                    <path d="M14.0001 0C6.28041 0 0 6.28031 0 13.9999C0 21.7195 6.28041 27.9998 14.0001 27.9998C21.7197 27.9998 28 21.7195 28 13.9999C28 6.28031 21.7197 0 14.0001 0ZM14.0001 25.7047C7.5459 25.7047 2.29507 20.4541 2.29507 13.9999C2.29507 7.54581 7.5459 2.29507 14.0001 2.29507C20.4542 2.29507 25.7049 7.54581 25.7049 13.9999C25.7049 20.4541 20.4542 25.7047 14.0001 25.7047Z" fill="#1D8102"/>
                    <path d="M20.0564 8.62512L11.744 16.9376L7.94357 13.1371C7.49539 12.689 6.76887 12.689 6.32069 13.1371C5.8726 13.5853 5.8726 14.3118 6.32069 14.76L10.9326 19.3719C11.1567 19.5959 11.4503 19.708 11.744 19.708C12.0377 19.708 12.3314 19.5959 12.5555 19.3719L21.6793 10.2481C22.1274 9.79992 22.1274 9.07339 21.6793 8.62521C21.2311 8.17703 20.5045 8.17703 20.0564 8.62512Z" fill="#1D8102"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1844_2149">
                    <rect width="28" height="28" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg> 
                <span>Image Successfully Added!</span>
            </div>
        </div>
        <div class="text-form">
            <select name="noteSubject" class="note-subject" required>
                <option value="No Subject" disabled selected >Choose Subject</option>
                <option value="Bangla">Bangla</option>
                <option value="English">English</option>
                <option value="ICT">ICT</option>
                <option value="Physics 1st Paper">Physics 1st Paper</option>
                <option value="Physics 2nd Paper">Physics 2nd Paper</option>
                <option value="Chemistry 1st Paper">Chemistry 1st Paper</option>
                <option value="Chemistry 2nd Papeer">Chemistry 2nd Paper</option>
                <option value="Biology 1st Paper">Biology 1st Paper</option>
                <option value="Biology 2nd Paper">Biology 2nd Paper</option>
                <option value="Higher Mathematics 1st Paper">Higher Mathematics 1st Paper</option>
                <option value="Higher Mathematics 2nd Paper">Higher Mathematics 2nd Paper</option>
                <option value="Statistics">Statistics</option>
                <option value="History">History</option>
                <option value="Geography">Geography</option>
                <option value="Logic">Logic</option>
                <option value="Philosophy">Philosophy</option>
                <option value="Political Science">Political Science</option>
                <option value="Sociology">Sociology</option>
                <option value="Economics">Economics</option>
                <option value="Islamic History & Culture">Islamic History & Culture</option>
                <option value="Social Work">Social Work</option>
                <option value="Psychology">Psychology</option>
                <option value="Islamic Studies">Islamic Studies</option>
            </select>
            <input type="text" class="note-title" placeholder="Note's Title (less than 200 characters)" name="noteTitle">
            <!-- <textarea name="noteDescription" class="note-description" rows="4" placeholder="Tell a bit about your note" required></textarea> -->
            <div id="editor"></div>

            <button class="publish-note-btn" onclick="publish()">Publish</button>
        </div>
    </div>
    <div class="overlay"></div>
    <!-- ***** Pop up to set a thumbnail **** -->
    <!-- <div class="thumbnail-pop-up">
        <div class="popup-heading">
            <h2>Preview</h2>
            <button class="discard-btn">Discard &times;</button>
        </div>
        <div class="thumbnail-container">
            <img alt="Note Image" id="noteImage">
        </div>
        <div class="popup-footer">
            <button class="thumbnail-addstack-btn">Add to Stack</button>
        </div>
     </div> -->
     <div class="thumbnail-pop-up">
        <div class="popup-heading">
            <h2>Stack</h2>
            <button class="discard-btn">Close &times;</button>
        </div>
        <p class="no-notes">You haven't added any images. Start uploading</p>
        <div class="thumbnail-container">
        </div>
    </div>
    
    <%- include('side-panel', { block: 'right-panel' }) %>     
    <%- include('side-panel', { block: 'mbl-ctrl-panel' }) %>
	<%- include('side-panel', { block: 'error-popup' }) %>

    <audio id="notificationAudio" src="/sounds/notification-ping-sound.mp3" preload="auto"></audio>

	<div class="background-overlay"></div>
    <div class="loader-overlay">
        <span class="loader"></span>
    </div>
       
    <script src="/js/controller.js"></script>
    <script src="/js/upload-note.js"></script>
</body>
</html>