<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/user-profile.css">
    <script src="https://kit.fontawesome.com/be4b1d4185.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

</head>
<body>
    <!-- on the left side we'll keep the side panel containing notes or whatever ui design requires : we'll code that during dashboard sprint -->

    <!-- this is the middle section of the page. -->
        <!-- When we code the search bar that will go here. -->
        <div class="search-bar-box">
            <input type="text" class="search-bar" placeholder="Search Notes">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
    </div>
    <div class="middle-section">
        <div class="ms-first-row">
            <img src="/<%= student.profile_pic %>" alt="Profile Picture">
            <div class="info-items-1"><!--We'll update the frontend js codes for these element soon-->
                <span class="display-name" ><%= student.displayname %></span>
                <span class="user-clg-id" >ID: <%= student.studentid %></span><!--for this non-editable data, basic data fetch will do or even DOM-->
                <div class="user-group"><%= student.group %></div>
                <!-- fetching exam rank needs to be discussed-->
                <!-- <div class="exam-ranking">Previous Exam Ranking: No Exams Yet</div> -->
            </div>
            <div class="divider"></div>
            <div class="user-gains"><!--this is another core feature we need to develop. Looking forward to your algorithms and overall my plan is DOM manipulation-->
                <div class="badge">
                    <img class="badge-logo" src="dynamic"> <!-- The badge-logo will be dynamically added; see public/js/user-profile.js -->
                    <div class="top-voice-badge"><%= student.badge %></div>
                </div>
                    <% let featuredNotesCount = student.featured_notes.length %>
                    <% if (featuredNotesCount) { %>
                        <div class="featured-note">Featured notes count: <%= featuredNotesCount %></div> <!-- If there are 1+ featured notes -->
                    <% } else { %>
                        <div class="no featured-note">No notes to be featured</div> <!-- If there is no featured notes -->
                    <% } %>
                </div>
            </div>
        </div>

        <div class="ms-second-row">
            <div class="user-username">
                <span class="input-label" >Username</span>
                <div class="username-box">
                    <p><%= student.username %></p>
                </div>  
            </div>
            <div class="user-college-year">
                <span class="input-label" >College Year</span>
                <div class="display-year-box">
                    <p><%= student.collegeyear %></p>
                </div>
            </div>
        </div>
        <div class="ms-third-row">
            <div class="user-bio">
                <span class="input-label" >Bio</span>
                <div class="bio-box">
                    <p><%= student.bio %></p>
                </div>  
            </div>
            <div class="user-email">
                <span class="input-label">Email Address</span>
                <div class="email-box">
                    <p><%= student.email %></p>
                </div>  
            </div>
        </div>
        <div class="ms-fourth-row">
            <div class="user-college-roll">
                <span class="input-label" >College Roll</span>
                <div class="college-roll-box">
                    <p><%= student.rollnumber %></p>
                </div>  
            </div>
            <div class="user-college-section">
                <span class="input-label" >College Section</span>
                <div class="college-section-box">
                    <p><%= student.collegesection %></p>
                </div>
        </div>
        </div>
        <div class="ms-fifth-row">
            <div class="user-fav-sub">
                <span class="input-label" >Favourite Subject</span>
                <div class="fav-sub-box">
                    <p><%= student.favouritesubject %></p>
                </div>  
            </div>
            <div class="user-non-fav-sub">
                <span class="input-label">Not So Favourite Subject</span>
                <div class="non-fav-sub-box">
                    <p><%= student.notfavsubject %></p>
                </div>
            </div>
        </div>

        <% if (!visiting) { %> <!-- Rafi: This logic ensures that if you visit another person's profile then the logout button won't appear, but when you are in your profile (the profile you logged in as), the button will appear which is logical -->
            <button class="logout" onclick="alert('Are you sure you want to logout from NoteRoom?'),logout()">Logout</button> <!-- Rafi: Place this logout button in a suitable place and design. You have to login as a user to see the logout button in your profile. -->
        <% } %>
        
        <!-- We can use DOM here to show the notes prview here. -->
        <!-- This section can be called the ms-sixth-row. -->
        <div class="uploaded-notes-section">
            <%  if (visiting) { %>
                <h2><%= student.displayname %>'s Notes</h2> 
            <% } else { %>
                <h2>My Notes</h2>
            <% } %> 

            <div class="notes-container">
                <% if(notes != 0) { %>
                    <% for (const note of notes) { %>
                        <div class="note-card">
                            <a href="../view/<%= note._id %>"><!-- A: now the whole card is will act for the link-->
                            <h3><%= note.title %></h3>
                            <% let description = note.description %>
                            <!-- If the description's length > 30, the '...' will be added, else the full description will be shown -->
                            <% if(description.length > 30) { %>
                                <p><%= description.slice(0, 30) %>...</p> <!-- First 30 characters of the description will be shown -->
                            <% } else { %>
                                <p><%= description %></p> 
                            <% } %>
                            </a>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="no-notes-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-frown">
                            <circle cx="12" cy="12" r="10" stroke-width="1"></circle>
                            <path d="M9 9h.01" stroke-width="1"></path>
                            <path d="M15 9h.01" stroke-width="1"></path>
                            <path d="M9 15a4 4 0 0 1 6 0" stroke-width="1"></path>
                        </svg>
                        <p class="notes-unavailable" >No Notes to Show</p>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <script src="/js/user-profile.js"></script> 
    
</body>
</html>
