<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= student.displayname %>'s Profile</title>
    <link rel="stylesheet" href="/css/main-pages.css">
    <link rel="stylesheet" href="/css/user-profile.css">
    <script src="https://kit.fontawesome.com/be4b1d4185.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link 
      href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" 
      rel="stylesheet"
    >
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

</head>
<body>
    <%- include('side-panel', { block: 'left-panel' }) %>
    <%- include('side-panel', { block: 'search-bar' }) %>
    
    <div class="middle-section">
    <div class="ms-first-row">
        <img class="user-prfl-pic" src="<%= student.profile_pic %>" alt="Profile Picture">
        <div class="info-items-1">
            <!-- We'll update the frontend js codes for these element soon -->
            <span class="display-name"><%= student.displayname %></span>
            <span class="user-clg-id">ID: <%= student.studentID %></span>
            <!-- for this non-editable data, basic data fetch will do or even DOM -->
            <div class="user-group"><%= student.group %></div>
            <!-- fetching exam rank needs to be discussed -->
            <!-- <div class="exam-ranking">Previous Exam Ranking: No Exams Yet</div> -->
        </div>
        <div class="divider"></div>
        <div class="user-gains">
            <!-- this is another core feature we need to develop -->
            <div class="badge">
                <img class="badge-logo" src"dynamic">
                <!-- The badge-logo will be dynamically added; see public/js/user-profile.js -->
                <div class="top-voice-badge"><%= student.badge %></div>
            </div>
            <% let featuredNotesCount = student.featured_notes.length %>
            <% if (featuredNotesCount) { %>
                <div class="featured-note">Featured notes count: <%= featuredNotesCount %></div>
            <% } else { %>
                <div class="no featured-note">No notes to be featured</div>
            <% } %>
        </div>
    </div>

    <div class="ms-second-row">
        <div class="user-username">
            <span class="input-label">Username</span>
            <div class="username-box">
                <p>
                    <%
                        let username;
                        let name = student.username
                        if(name.length > 15) {
                            username = name.slice(0, 15) + " ..."
                        } else {
                            username = name
                        }
                    %>
                    <%= username %>
                </p>
            </div>
        </div>
        <div class="user-college-year">
            <span class="input-label">College Year</span>
            <div class="display-year-box">
                <p><%= student.collegeyear %></p>
            </div>
        </div>
    </div>

    <div class="ms-third-row">
        <div class="user-bio">
            <span class="input-label">Bio</span>
            <div class="bio-box">
                <p><%= student.bio %></p>
            </div>
        </div>
        <div class="user-email">
            <span class="input-label">Email Address</span>
            <div class="email-box">
                <p><%= student.email %></p>
            </div>
        </div>
    </div>

    <div class="ms-fourth-row">
        <div class="user-college-roll">
            <span class="input-label">College Roll</span>
            <div class="college-roll-box">
                <p><%= student.rollnumber %></p>
            </div>
        </div>
        <div class="user-college-section">
            <span class="input-label">College Section</span>
            <div class="college-section-box">
                <p><%= student.collegesection %></p>
            </div>
        </div>
    </div>

    <div class="ms-fifth-row">
        <div class="user-fav-sub">
            <span class="input-label">Favourite Subject</span>
            <div class="fav-sub-box">
                <p><%= student.favouritesubject %></p>
            </div>
        </div>
        <div class="user-non-fav-sub">
            <span class="input-label">Not So Favourite Subject</span>
            <div class="non-fav-sub-box">
                <p><%= student.notfavsubject %></p>
            </div>
        </div>
    </div>

    <div class="uploaded-notes-section">
      <div class="toggle-header-uploaded-notes">
        <% if (visiting) { %>
            <h2 class="user-notes active-section">
                <% 
                    let name = student.displayname 
                    let displayname = name.match(/^\S+/i)
                %>
                <%= displayname %>'s Notes
            </h2>
        <% } else { %>
            <h2 class="user-notes active-section" >My Notes</h2>
            <h2 class="student-saved-notes" id="savedNotes" >Saved Notes</h2>
        <% } %>
      </div>
        <div class="notes-container visible-container">
            <% if(notes != 0) { %>
                <% for (const note of notes) { %>
                    <div class="note-card">
                        <a href="/view/<%= note._id %>">
                            <h3>
                                <% let title = note.title %>
								<% if(title.length > 30) { %>
									<%= title.slice(0, 30) %>...
								<% } else { %>
									<%= title %>
								<% } %>
                            </h3>
                            <% let description = note.description %>
                            <% if(description.length > 30) { %>
                                <p><%- description.slice(0, 30) %>...</p>
                            <% } else { %>
                                <p><%- description %></p>
                            <% } %>
                            <img src="<%= note.content[0] %>" alt="No thumbnail?!">
                        </a>
                    </div>
                <% } %>
            <% } else { %>
                <div class="no-notes-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-frown">
                        <circle cx="12" cy="12" r="10" stroke-width="1"></circle>
                        <path d="M9 9h.01" stroke-width="1"></path>
                        <path d="M15 9h.01" stroke-width="1"></path>
                        <path d="M9 15a4 4 0 0 1 6 0" stroke-width="1"></path>
                    </svg>
                    <p class="notes-unavailable">No Notes to Show</p>
                </div>
            <% } %>
        </div>
        <% if(!visiting) { %>
            <div class="sv-notes-container not-show">
              <% if (savedNotes.length != 0) { %>
                <% for (const note of savedNotes) { %>
                    <div class="note-card">
                        <a href="/view/<%= note._id %>">
                            <h3>
                                <% let title = note.title %>
								<% if(title.length > 30) { %>
									<%= title.slice(0, 30) %>...
								<% } else { %>
									<%= title %>
								<% } %>
                            </h3>
                            <% let description = note.description; %>
                            <% if (description.length > 30) { %>
                                <p><%- description.slice(0, 30) %>...</p>
                            <% } else { %>
                                <p><%- description %></p>
                            <% } %>
                            <img src="<%= note.content[0] %>" alt="No thumbnail?!">
                        </a>
                    </div>
                <% } %>
                <% } else { %>
                    <div class="no-notes-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-frown">
                            <circle cx="12" cy="12" r="10" stroke-width="1"></circle>
                            <path d="M9 9h.01" stroke-width="1"></path>
                            <path d="M15 9h.01" stroke-width="1"></path>
                            <path d="M9 15a4 4 0 0 1 6 0" stroke-width="1"></path>
                        </svg>
                        <p class="notes-unavailable">No Saved Notes to Show</p>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
    <%- include('side-panel', { block: 'right-panel' }) %>

    <%- include('side-panel', { block: 'mbl-ctrl-panel' }) %>

	<audio id="notificationAudio" src="/sounds/notification-ping-sound.mp3" preload="auto"></audio>
    <div class="background-overlay"></div>

    <script src="/js/controller.js"></script> 
    <script src="/js/user-profile.js"></script> 
</body>
</html>
