<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/user-profile.css">
    <!-- this is the famous font awesome cloud cdn link to access the icons used -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

</head>
<body>
    <!-- Rafi: Arnob treat every varibale like a value inside a paragraph tag. Modify their apperence 
            And if you want to use them in your js, use document.querySelector().innerHTML .
     -->
    <!-- on the left side we'll keep the side panel containing notes or whatever ui design requires : we'll code that during dashboard sprint -->

    <!-- this is the middle section of the page. -->
        <!-- When we code the search bar that will go here. -->
        <div class="search-bar-box">
            <input type="text" class="search-bar" placeholder="Search Notes">
            <button><!--troubleshoot-->
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
    </div>
    <div class="middle-section">
        <div class="ms-first-row">
            <img src="/images/something.png" alt="Profile Picture">
            <div class="info-items-1"><!--We'll update the frontend js codes for these element soon-->
                <span class="display-name" ><%= student.displayname %></span>
                <span class="user-clg-id" >ID: <%= student.studentid %></span><!--for this non-editable data, basic data fetch will do or even DOM-->
                <div class="user-group"><%= student.group %></div>
                <!-- fetching exam rank needs to be discussed-->
                <!-- <div class="exam-ranking">Previous Exam Ranking: No Exams Yet</div> -->
            </div>
            <div class="divider"></div>
            <div class="user-gains"><!--this is another core feature we need to develop. Looking forward to your algorithms and overall my plan is DOM manipulation-->
                <div class="top-voice-badge"><%= student.badge %></div>
    
                    <% let featuredNotesCount = student.featured_notes.length %>
                    <% if (featuredNotesCount) { %>
                        <div class="featured-note">Featured notes count: <%= featuredNotesCount %></div> <!-- If there are 1+ featured notes -->
                    <% } else { %>
                        <div class="no featured-note">No notes to be featured</div> <!-- If there is no featured notes -->
                    <% } %>
                </div>
            </div>
        </div>

        <div class="ms-second-row">
            <div class="user-username">
                <span class="input-label" >Username</span>
                <div class="username-box">
                    <p><%= student.username %></p>
                </div>  
            </div>
            <div class="user-college-year">
                <span class="input-label" >College Year</span>
                <div class="display-year-box">
                    <p><%= student.collegeyear %></p>
                </div>
            </div>
        </div>
        <div class="ms-third-row">
            <div class="user-bio">
                <span class="input-label" >Bio</span>
                <div class="bio-box">
                    <p><%= student.bio %></p>
                </div>  
            </div>
            <div class="user-email">
                <span class="input-label">Email Address</span>
                <div class="email-box">
                    <p><%= student.email %></p>
                </div>  
            </div>
        </div>
        <div class="ms-fourth-row">
            <div class="user-college-roll">
                <span class="input-label" >College Roll</span>
                <div class="college-roll-box">
                    <p><%= student.rollnumber %></p>
                </div>  
            </div>
            <div class="user-college-section">
                <span class="input-label" >College Section</span>
                <div class="college-section-box">
                    <p><%= student.collegesection %></p>
                </div>
        </div>
        </div>
        <div class="ms-fifth-row">
            <div class="user-fav-sub">
                <span class="input-label" >Favourite Subject</span>
                <div class="fav-sub-box">
                    <p><%= student.favouritesubject %></p>
                </div>  
            </div>
            <div class="user-non-fav-sub">
                <span class="input-label">Not So Favourite Subject</span>
                <div class="non-fav-sub-box">
                    <p><%= student.notfavsubject %></p>
                </div>
            </div>
        </div>

        <% if (!visiting) { %> <!-- Rafi: This logic ensures that if you visit another person's profile then the logout button won't appear, but when you are in your profile (the profile you logged in as), the button will appear which is logical -->
            <button class="logout" onclick="alert('Are you sure you want to logout from NoteRoom?'),logout()">Logout</button> <!-- Rafi: Place this logout button in a suitable place and design. You have to login as a user to see the logout button in your profile. -->
        <% } %>
        
        <!-- We can use DOM here to show the notes prview here. -->
        <!-- This section can be called the ms-sixth-row. -->
        <div class="uploaded-notes-section">
            <%  if (visiting) { %>
                <h2><%= student.displayname %>'s Notes</h2> 
            <% } else { %>
                <h2>My Notes</h2>
            <% } %> 
            <div class="notes-container">
                <div class="note-card">
                    <img src="images\note-1.png" alt="Note 1 Thumbnail">
                    <h3>Note Title 1</h3>
                    <p>Note content summary or excerpt goes here...</p>
                </div>
                <div class="note-card">
                    <img src="images\note-1.png" alt="Note 2 Thumbnail">
                    <h3>Note Title 2</h3>
                    <p>Note content summary or excerpt goes here...</p>
                </div>
                <div class="note-card">
                    <img src="images\note-1.png" alt="Note 3 Thumbnail">
                    <h3>Note Title 3</h3>
                    <p>Note content summary or excerpt goes here...</p>
                </div>
                <div class="note-card">
                    <img src="images\note-1.png" alt="Note 4 Thumbnail">
                    <h3>Note Title 4</h3>
                    <p>Note content summary or excerpt goes here...</p>
                </div>
                <!-- More cards will come through dom js -->
            </div>
        </div>
    </div>

    <script src="/js/user-profile.js"></script> 
    
</body>
</html>
